{% include'header.html' %}
<nav class="navbar navbar-default navbar-fixed-top animate">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{url_for('indexx')}}">
          <i class="title-icon fa fa-comments-o pull-left"></i>
          TOSForum
        </a>
      </div>

      <ul class="nav navbar-nav navbar-right mobile-bar">
        <li class="current">
          <a href="{{url_for('indexx')}}">
            <span class="menu-icon fa fa-home"></span>
            Home
          </a>
        </li>
        <li>
          <a href="{{url_for('notif')}}">
            <span class="menu-icon fa fa-bell"></span> 
            Notifications
          </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="menu-icon fa fa-search"></span> 
            Search
          </a>
          <ul class="dropdown-menu dropdown-menu-right navbar-search" role="menu">
            <li>
              <div class="input-group input-group-sm">
              <form action="{{url_for('search')}}" class="form-horizontal" method="POST">
                <input type="text" class="form-control input-sm" name="keyword" placeholder="Search Threads" style="width:70%;">
                <div class="input-group-btn" style="height:90%;">
                  <button class="btn btn-success btn-md" type="submit" style="height:90%; float:right; margin-bottom:4px;">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                </div>
              </form>
              </div>
            </li>
          </ul>
        </li>
        <li>
          <a href="{{url_for('profile')}}">
            <span class="menu-icon fa fa-user"></span> 
            Profile
          </a>
        </li>
      </ul>
    </div>
</nav>

  <div class="container top-div">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <h3><b>Create a New Thread</b></h3>
      <form class="form-horizontal" action="{{ url_for('addthread') }}" method="post">
        <fieldset>
          <div class="form-group">
            <div class="col-xs-12">
              <input type="text" class="form-control" placeholder="Thread Title" id="postTitle" name="postTitle">
            </div>
          </div>
          <div class="form-group">
            <div class="col-xs-12">
              <textarea class="form-control" rows="5" placeholder="Thread Content" id="postContent" name="postContent"></textarea>
            </div>
          </div>
          <div class="col-xs-12">
            <button type="submit" class="btn btn-right btn-success btn-small pull-right">Post Thread</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
 {% for thread in threads %}
  <div class="container">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="panel panel-default thread">
        <div class="panel-body" id="content">
          <h3 class="thread-title">
            {{thread[1]}}
          </h3>
          <pre class="text-justify" style="border-radius:0; border:0;background-color:transparent; color:black; padding:0;display:block; white-space: pre-wrap; font-family: 'Lato','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 15px; line-height: 1.42857143; word-break:normal;">{{thread[2]}}</pre>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-xs-12">
              <img src="/static/images/{{thread[10]}}" class="thread-author-img img-circle">  
              {{thread[6]}}
              <small>| {{thread[3]}}</small>
              <a href= "{{url_for('thread', name = thread[0])}}" class="btn btn-success btn-right btn-small pull-right">
                Read More
              </a>        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} 

  <div class="container">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
      <div class="panel panel-default thread">
        <div class="panel-body" id="content">
          <h3 class="thread-title">
            How To Be a Website Developer
          </h3>
          <p class="text-justify">Inclusive capitalism shift donors revitalize celebrate; hack elevate Kony 2012 shifting landscape generosity. Emergent relief economic independence volunteer informal economies life-saving visionary, growth equality community immunize civic engagement. Crisis management forward-thinking, focus on impact giving, policy healthcare solve; cornerstone time of extraordinary change human experience making progress. Advocate catalyze, affordable health care, outcomes justice invest. Care; citizens of change compassion solution, gender equality accelerate social worker equity donation foster. Challenges of our times working alongside UNHCR Oxfam global health country enable medical impact achieve. Long-term, UNICEF beneficiaries honesty, meaningful work combat malaria, foundation; urban disrupt liberal catalyst effectiveness.</p>

          <p class="text-justify">Advocate catalyze, affordable health care, outcomes justice invest. Care; citizens of change compassion solution, gender equality accelerate social worker equity donation foster. Challenges of our times working alongside UNHCR Oxfam global health country enable medical impact achieve. Long-term, UNICEF beneficiaries honesty, meaningful work combat malaria, foundation; urban disrupt liberal catalyst effectiveness.</p>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-xs-12">
              <img src="../static/images/albert.png" class="thread-author-img img-circle">  
              albertpratomo
              <small>| June 15 2017</small>
              <a class="btn btn-success btn-right btn-small pull-right">
                Read More
              </a>        
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <script type="text/javascript">
    // $( document ).ready(function() {
    //   var display_txt = 
    //   display_txt = display_txt.replace(/\n/g, "<br />");
    // });

    $(function() {

    });  
  </script>
</body>
</html>
